<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>
  <div id="content">
    <h1>Hey, I'm Dustin Baker</h1>
    <p>Welcome to my blog, built using Ruby on Rails. Cool stuff, right!</p>
    <p>If you'd like to follow me on twitter<a href="http://twitter.com/dustinbaker22">@DustinBaker22</a> or on the web at <a href="http://dustinbaker22.com">dustinbaker22.com</a>, and also feel free to contact me for any questions and I will answer them as soon as possible <a href="mailto:hey@mackenziechild.me">here</a>. Thanks for stoping by!</p>
  </div>
</div>